body {
  margin: 0;
}

.cat {
  position: absolute;
  left: 0;
  top: 0;
  background: url('../img/cat.gif');
  background-size: contain;
}

.left {
  transform: scaleX(-1);
}


.right {
  transform: scaleX(1);
}

.arrow {
  position: absolute;
  left: 400px;
  top: 200px;
  width: 20px;
  height: 100px;
  background: orange;
}
.arrow:after {
  content: '^';
  display: inline-block;
  font-size: 40px;
  margin-top: -40px;
}
